body {
    margin-top: 60px;
    padding-bottom: 100px;
    position: relative;
}

header#profile_page {
    background-color: #FFF;
    position: fixed;
    top:0;
    margin-bottom: 10px;
    width: 100%;
    min-height: 50px;
    height: auto;
    border-bottom: none;
    border-bottom: solid 1px #f5f5f5 !important;
}

#profile_page .header_name {
    font-weight: 600;    font-size: 16px;
}

#profile_page .header_name span {
    font-size: 12px;
    color: #ccc;
    font-weight: 300;
}

#profile_page .back_link {
    text-decoration: none;
    color: #fc1c40;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.material-input {
    position: relative;
    margin-bottom: 30px;
  }
   .material-input input {
    background-color: transparent;
  }
   .material-input label {
    color: #78909C;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    width: 100%;
  }
   .material-input input:not([type]),
   .material-input input[type=text],
   .material-input input[type=password],
   .material-input input[type=email],
   .material-input input[type=url],
   .material-input input[type=time],
   .material-input input[type=date],
   .material-input input[type=datetime-local],
   .material-input input[type=tel],
   .material-input input[type=number],
   .material-input input[type=search] {
    color: #333;
    font-size: 16px;
    padding: 10px 10px 2px 0;
    position: relative;
    display: block;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
  }
   .material-input input:not([type]):focus,
   .material-input input[type=text]:focus,
   .material-input input[type=password]:focus,
   .material-input input[type=email]:focus,
   .material-input input[type=url]:focus,
   .material-input input[type=time]:focus,
   .material-input input[type=date]:focus,
   .material-input input[type=datetime-local]:focus,
   .material-input input[type=tel]:focus,
   .material-input input[type=number]:focus,
   .material-input input[type=search]:focus {
    outline: none;
  }
   .material-input input:not([type]):focus + label,
   .material-input input[type=text]:focus + label,
   .material-input input[type=password]:focus + label,
   .material-input input[type=email]:focus + label,
   .material-input input[type=url]:focus + label,
   .material-input input[type=time]:focus + label,
   .material-input input[type=date]:focus + label,
   .material-input input[type=datetime-local]:focus + label,
   .material-input input[type=tel]:focus + label,
   .material-input input[type=number]:focus + label,
   .material-input input[type=search]:focus + label,
   .material-input input:not([type]):valid + label,
   .material-input input[type=text]:valid + label,
   .material-input input[type=password]:valid + label,
   .material-input input[type=email]:valid + label,
   .material-input input[type=url]:valid + label,
   .material-input input[type=time]:valid + label,
   .material-input input[type=date]:valid + label,
   .material-input input[type=datetime-local]:valid + label,
   .material-input input[type=tel]:valid + label,
   .material-input input[type=number]:valid + label,
   .material-input input[type=search]:valid + label {
    top: -10px;
    font-size: 12px;
    color: #fc1c40;
  }
   .material-input input:not([type]):focus ~ .bar:before,
   .material-input input[type=text]:focus ~ .bar:before,
   .material-input input[type=password]:focus ~ .bar:before,
   .material-input input[type=email]:focus ~ .bar:before,
   .material-input input[type=url]:focus ~ .bar:before,
   .material-input input[type=time]:focus ~ .bar:before,
   .material-input input[type=date]:focus ~ .bar:before,
   .material-input input[type=datetime-local]:focus ~ .bar:before,
   .material-input input[type=tel]:focus ~ .bar:before,
   .material-input input[type=number]:focus ~ .bar:before,
   .material-input input[type=search]:focus ~ .bar:before,
   .material-input input:not([type]):focus ~ .bar:after,
   .material-input input[type=text]:focus ~ .bar:after,
   .material-input input[type=password]:focus ~ .bar:after,
   .material-input input[type=email]:focus ~ .bar:after,
   .material-input input[type=url]:focus ~ .bar:after,
   .material-input input[type=time]:focus ~ .bar:after,
  .material-input input[type=date]:focus ~ .bar:after,
  .material-input input[type=datetime-local]:focus ~ .bar:after,
  .material-input input[type=tel]:focus ~ .bar:after,
  .material-input input[type=number]:focus ~ .bar:after,
  .material-input input[type=search]:focus ~ .bar:after,
  .material-input input:not([type]):valid ~ .bar:before,
  .material-input input[type=text]:valid ~ .bar:before,
  .material-input input[type=password]:valid ~ .bar:before,
  .material-input input[type=email]:valid ~ .bar:before,
  .material-input input[type=url]:valid ~ .bar:before,
  .material-input input[type=time]:valid ~ .bar:before,
  .material-input input[type=date]:valid ~ .bar:before,
  .material-input input[type=datetime-local]:valid ~ .bar:before,
  .material-input input[type=tel]:valid ~ .bar:before,
  .material-input input[type=number]:valid ~ .bar:before,
  .material-input input[type=search]:valid ~ .bar:before,
  .material-input input:not([type]):valid ~ .bar:after,
  .material-input input[type=text]:valid ~ .bar:after,
  .material-input input[type=password]:valid ~ .bar:after,
  .material-input input[type=email]:valid ~ .bar:after,
  .material-input input[type=url]:valid ~ .bar:after,
  .material-input input[type=time]:valid ~ .bar:after,
  .material-input input[type=date]:valid ~ .bar:after,
  .material-input input[type=datetime-local]:valid ~ .bar:after,
  .material-input input[type=tel]:valid ~ .bar:after,
  .material-input input[type=number]:valid ~ .bar:after,
  .material-input input[type=search]:valid ~ .bar:after {
    width: 51%;
    background: #fc1c40;
    border-bottom: 0px;
  }
  .material-input .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .material-input .bar:before,
  .material-input .bar:after {
    content: '';
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: 0.5px;
    background: #fc1c40;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .material-input .bar:before {
    left: 51%;
  }
  .material-input .bar:after {
    right: 49%;
  }
  .material-input .bar + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
    -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  }
  .material-input select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    background-color: transparent;
    background: url('./svg/common/arrow-down-new.svg') right transparent;
    color: #333;
    font-size: 16px;
    padding: 10px 10px 10px 0;
    position: relative;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
  }
  .material-input select:focus {
    outline: none;
  }
  .material-input select + .icon-arrow-down {
    position: absolute;
    float: right;
  }
  .material-input select option:checked + label {
    display: none;
  }
  .material-input input[type="radio"] + label {
    pointer-events: all;
  }
  .material-input input[type="radio"]:not(:checked),
  .material-input input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  .material-input input[type="radio"]:not(:checked) + label,
  .material-input input[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    cursor: pointer;
    width: 100%;
    display: inline;
  }
  .material-input input[type="radio"]:not(:checked) + label:before,
  .material-input input[type="radio"]:checked + label:before,
  .material-input input[type="radio"]:not(:checked) + label:after,
  .material-input input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .material-input input[type="radio"]:not(:checked) + label:before,
  .material-input input[type="radio"]:checked + label:before {
    border: 1.5px solid #b9b9ba;
  }
  .material-input input[type="radio"]:checked + label:before {
    border: 1px solid #49ba8e;
  }
  .material-input input[type="radio"]:not(:checked) + label:before,
  .material-input input[type="radio"]:checked + label:before {
    border-radius: 50%;
  }
  .material-input input[type="radio"]:not(:checked) + label:after,
  .material-input input[type="radio"]:checked + label:after {
    font-size: 9px;
    color: #fff;
    background: #49ba8e;
  }
  .material-input input[type="radio"]:not(:checked) + label:after {
    transform: scale(0, 0);
  }
  .material-input input[type="radio"]:checked + label:after {
    transform: scale(1, 1);
  }
  .material-input input[type="radio"]:checked + label:after {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 7px;
  }
  .hello-text h1 {
    margin: 20px 0 0;
    font-weight: 600;
    font-size: 40px;
    color: #fc1c40;
}
.hello-text h3 {
    color: #333;
    margin: 5px 0 25px;
    font-weight: 100;
}

.btn-payment {
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 99;
    left: 0;
    position: fixed;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 15px;
    background: #f41186;
    background: -moz-linear-gradient(-45deg, #f41186 1%, #f75600 100%);
    background: -webkit-linear-gradient(-45deg, #f41186 1%, #f75600 100%);
    background: linear-gradient(135deg, #f41186 1%, #f75600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f41186', endColorstr='#f75600', GradientType=1);
    color: #FFF;
}

.btn-payment:focus, .btn-payment:hover,.btn-payment:active,.btn-payment:visited{
    color: #fff;
    text-decoration: none;
}
.hello-text img {
    width: 80px;
    margin-bottom: 10px;
}

.hello-text p {
    line-height: 16px;
    font-size: 12px;
    margin-top: 15px;
    color: #777;
}
.phone-edit {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 12px;
    margin: 0;
    color: #333;
}
.phone-edit a {
    color: #777;
    font-size: 17px;
}
.otp-text {
    font-size: 12px;
    color: #999;
}
.otp-extra a {
    font-weight: 600;
    color: #0D47A1;
}
.otp-extra {
    font-size: 13px;
}
.partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, #777 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 200px;
    margin-bottom: 25px;
    outline: 0;
  }



  #app-cover
{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#checkbox
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#path
{
    width: 100px;
    height: 40px;
    padding: 1px;
    background-color: #ECEFF1;
    border-radius: 100px;
}

#knob
{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px #dae4ff;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
    z-index: 1;
}

#bow
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    width: 24px;
    margin: 0 auto;
    transition: 0.2s ease color;
}

#bow i
{
    display: block;
    font-size: 25px;
    line-height: 1;
}

#gender
{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 60px;
    font-size: 12px;
    font-family: Roboto, Helvetica;
    text-align: right;
    line-height: 1;
    margin-top: -6px;
}

#fe
{
    position: absolute;
    left: -200px;
    color: #E91E63;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
}

#male
{
    left: 0;
}

#male, #male span
{
    position: relative;
}

#bow, #male span
{
    color: #7aa0ff;
}
#male.fe span{
    color: #FFF;
}
#male span
{
    z-index: 1;
}

#male:before
{
    content: 'MALE';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #E91E63;
    white-space: pre;
    overflow: hidden;
    transition: 0.2s cubic-bezier(0.4, 0, 1, 1) all;
    z-index: 2;
}

#path.fe
{
    background-color: #f8f1f7;
}

#checkbox:checked ~ #knob
{
    transform: rotateZ(-135deg);
    box-shadow: 0 0 6px #ffe2fe;
}

#knob #bow.fe
{
    color: #E91E63;
}

#checkbox:checked ~ #gender #fe
{
    left: 13px;
    opacity: 1;
}

#male.fe:before
{
    width:100%;
}

#checkbox:checked ~ #gender #male
{
    animation: move 0.2s ease 0.4s;
}

#male.ma
{
    animation: move_l 0.2s ease 0.1s;
}

@keyframes move
{
    0%{ left: 0; }
    50%{ left: 5px; }
    100%{ left: 0; }
}

@keyframes move_l
{
    0%{ left: 0; }
    50%{ left: 5px; }
    100%{ left: 0; }
}



.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto 15px;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f030";
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #757575;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  input.label-input {
    border: solid 1px transparent;
    text-align: center;
    font-size: 20px;
}

.loading-wrapper {
    position: fixed;
    z-index: 99999;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 100%;
    background: #FFF;
    padding-top: 45%;
    text-align: center;
  }
  

  input.label-input {
    border: solid 1px transparent;
    text-align: center;
    font-size: 20px;
    width: 100%;
    outline: 0;
}