@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,400i,600,700');
body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.navi-hotel {
  background: #fc1c40;
  border-radius: 0;
  margin-bottom: 0px;
}

.navi-hotel a {
  color: #fff;
}

.navi-hotel .navbar-brand {
  color: #fff;
}

.navi-hotel .navbar-brand:hover {
  color: #fff;
  text-decoration: none;
}

.navi-hotel .nav>li>a:focus, .navi-hotel .nav>li>a:hover {
  background: transparent;
}

.navbar-toggle .icon-bar {
  background: #fff;
  height: 1px;
  width: 17px;
}

.side-collapse {
  background: #fc1c40;
}

/* home page carousel */

.carousel {
  width: 100%;
  background-color: #eeeeee;
  margin-top: 50px;
}

.carousel.landingpage {
  margin-top: 85px
}

.carousel.landingpage .carousel-control.right, .carousel.landingpage .carousel-control.left {
  background: none;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  padding: 4px;
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
  display: block;
  justify-content: center;
  align-items: center;
}

.carousel-fade .carousel-control .glyphicon {
  font-size: 2rem;
}

.carousel-fade .carousel-indicators li {
  display: none;
}

.slide-content img {
  border-radius: 10px
}

.stopfade {
  opacity: 0.5;
}

.slide-content {
  color: #fff;
  display: block;
}

.slide-content video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.slide-content video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.door {
  font-family: Revista-Black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.door .title {
  font-size: 14rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 13rem;
}

.door .description {
  border-top: 1px solid #fff;
  margin-top: 15px;
  font-size: 4rem;
}

/* responsive here */

@media screen and (max-width: 768px) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left .4s;
  }
  .side-collapse-container.out {
    left: 200px;
  }
  .side-collapse {
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    position: fixed;
    overflow: hidden;
    transition: width .4s;
    z-index: 50;
  }
  .side-collapse.in {
    width: 0;
  }
}

/* 
section see restorant */

section.see {
  width: 100%;
  border-bottom: 4px solid #eee;
  padding-bottom: 20px;
}

.titlebx {
  font-size: 13px;
  color: #999;
  padding: 0 10px 5px;
}

.titlebx h2 {
  margin: 0px;
  padding: 10px 0 3px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  text-transform: capitalize;
  text-align: left;
}

.titlebx h3 {
  margin: 0px;
  padding: 10px 0 3px;
  font-size: 14px;
  font-weight: 600;
  color: #2e0854;
  margin-top: 10px;
  text-transform: capitalize;
}

.titlebx span {
  font-size: 12px;
}

.titlebx a {
  float: right;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 0;
  color: #fc1c40;
  text-shadow: none;
  font-weight: 600;
  /* border: solid 1px #2e0854; */
  text-decoration: none;
}

.see ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.see ul li p {
  display: none;
}

.see ul li {
  display: inline-block;
  width: 22%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  list-style: none;
  vertical-align: top;
  /* border-right:solid 2px #f1f1f1; */
}

.see ul li:last-child {
  border-right: transparent;
}

.see ul li img {
  max-width: 50px
}

.ratings {
  position: absolute;
  padding: 2px 4px;
  /* background: #fc1c40; */
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 0 3px 0 0;
  z-index: 2;
}
.featured .ratings{
  top: 10px;
  right: 6px;
}
.popular .ratings{
  top: -15px;
  right: -10px;
  background-color: #fc1c40;
}
.ratings .glyphicon-star {
  font-size: 10px;
  margin-left: 2px;
}

.see ul li span {
  display: block;
  margin-bottom: 5px;
}

section.common {
  width: 100%;
  /* border-bottom: 4px solid #eee; */
  margin-bottom: 14px;
}

section.common.padbtm {
  margin-bottom: 60px
}

/* featured */

.featured ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.featured ul li {
  float: left;
  margin: 4px;
  padding: 4px;
  box-sizing: border-box;
  width: 30.5%;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .2);
}
.featured ul li::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: #ccc #fff;
  z-index: 1;
}
.featured ul li.green-rating::before {
  border-color: #3caf4c #fff !important;
}
.featured ul li.red-rating::before {
  border-color: #fc1c40 #fff !important;
}
.featured ul li.orange-rating::before {
  border-color: #fa9618 #fff !important;
}
.featured ul li img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.featured ul li .thumb-img {
  position: relative;
  height: 100px;
  margin: -4px;
  margin-bottom: 4px;
  object-fit: cover;
}

.featured ul li h6 {
  font-size: 13px;
  color: #333;
  font-weight: bold;
  margin: 0px;
  padding: 2px 0px 0px;
}

.featured ul li h6+span {
  font-size: 11px;
  display: block;
  color: #999;
  margin-bottom: 4px;
}
.sub_list {
  font-size: 10px;
  margin: 0;
  line-height: 10px;
}
.collection ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.collection ul li{
  float: left;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    width: 30.5%;
    border: none;
    height: 130px;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .2);
}
.collection ul li .thumb-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.collection .thumb-img {
  border-radius: 4px;
  height: 100%;
}
.popular .green-rating.ratings {
  background-color: #3caf4c !important;
}
.popular .red-rating.ratings {
  background-color: #fc1c40 !important;
}
.popular .orange-rating.ratings {
  background-color: #fa9618 !important;
}
.hr-view {
  width: 100%;
  border-bottom: none;
    padding: 10px 0;
    float: left;
    margin-bottom: 10px;
    border-radius: 4px;
}

.hr-view .img {
  width: 30%;
    float: left;
    height: 130px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 9;
    position: relative;
}

.hr-view .img img {
  width: 100%;
  height: 100%;
  padding-right: 0;
  margin: 0;
  border-radius: 4px;
  object-fit: cover;
}

.hr-view .hr-details {
  width: 70%;
  float: left;
  font-size: 13px;
  padding: 15px 10px;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 13px 0px 0 -5px;
  border-radius: 4px;
}

.hr-details h3 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: #2e0854;
  position: relative;
}

.hr-details ul {
  list-style: none;
  margin: 0px;
  padding: 4px 0 0;
}

.hr-details ul li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}

.full-btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #fc1c40;
  display: block;
  float: left;
  border-radius: 3px;
  padding: 8px 10px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.collection .thumb-img:after {
  position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 4px;
    top: 0;
    /* background: linear-gradient(to top left, rgba(255, 0, 0, 0), rgba(29, 29, 29,0.7)); */
}
.collection .thumb-img.gradient-1:after{
  background-image: linear-gradient(120deg, #84fab0 0%, rgba(143, 211, 244, 0.41) 100%);
}
.collection .thumb-img.gradient-2:after{
  background-image: linear-gradient(120deg, #f093fb 0%, rgba(245, 87, 108, 0.34) 100%);
}
.collection .thumb-img.gradient-3:after{
  background-image: linear-gradient(to right, #4facfe 0%, rgba(0, 242, 254, 0.29) 100%);
}
.collection .thumb-img.gradient-4:after{
  background-image: linear-gradient(120deg, #d4fc79 0%, rgba(150, 230, 161, 0.4) 100%);
}
.collection .thumb-img.gradient-5:after{
  background-image: linear-gradient(135deg, #667eea 0%, rgba(118, 75, 162, 0.36) 100%);
}
.collection .thumb-img.gradient-6:after{
  background-image: linear-gradient(135deg, #13547a 0%, rgba(128, 208, 199, 0.48) 100%);
}
.collection .info {
  /* border-left: 2px solid #f00; */
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    text-align: left;
    z-index: 12;
    line-height: 11px;
    font-size: 10px;
    padding: 4px 2px;
    width: 95%;
    line-height: 15px;
}

.collection .info strong {
  font-size: 12px;
  font-weight: 900;
}

@media screen and (min-width: 640px) {
  .hr-view {
    width: 49%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #eee;
    margin: 10px 0px;
  }
  .hr-view:nth-child(even) {
    margin-right: 2%!important;
  }
  .featured ul li {
    width: 20%;
  }
  .listing-page section.common {
    display: inline-block;
    width: 50%;
    float: left;
    border-bottom: 0px;
    padding: 10px;
  }
  .listing-page section.common .container {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .featured ul li {
    width: 20%;
  }
  .full-btn {
    width: 400px;
    margin: 0 auto;
  }
  .see ul li {
    border: solid 1px #f1f1f1!important;
    text-align: left;
    line-height: 26px;
    width: 24.63%;
  }
  .see ul li span {
    float: left;
  }
  .see ul li p {
    padding: 0px;
    line-height: 14px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: #b9b9b9;
    display: block;
  }
  .mrg0 {
    margin-right: 0px;
  }
  .listing-page section.common {
    display: inline-block;
    width: 25%;
    float: left;
    border-bottom: 0px;
    padding: 10px;
  }
  .listing-page section.common .container {
    width: 100%;
  }
}

/* infolist */

.infolist ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.infolist ul li {
  width: 100%;
}

.infolist img {
  width: 100%;
}

.infolist .thumb-img {
  position: relative;
}

.infolist .ratings {
  /* width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 15px;
  right: 10px;
  padding: 0px;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  border: solid 1px #fff; */
  position: absolute;
    padding: 2px 4px;
    /* background: #fc1c40; */
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 0 3px 0 0;
    z-index: 2;
    top:0;
    right: 0;
}
.infolist .ratings.red-rating{
  background-color: #fc1c40 !important;
}

.infolist .ratings.orange-rating{
  background-color: #fa9618 !important;
}

.infolist .ratings.green-rating{
  background-color: #3caf4c !important;
}
.infolist .info {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300 !important;
}

.infolist .info strong {
  font-size: 22px;
  font-weight: 100 !important;
}

.filter {
  background: #fff;
  margin: 0px;
  margin-top: 50px;
  width: 100%;
  box-shadow: 0px 0 4px #99999973;
  margin-bottom: 0;
  border-bottom: solid #fc1c40 2px;
}

.filter ul li {
  list-style: none;
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #2e0854;
  padding: 10px;
  border-right: solid 1px #99999973;
}

.filter a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2e0854;
  display: block;
}

.filter ul li:last-child {
  border-right: none;
}

.filter ul {
  margin: 0px;
  padding: 0px;
}

.content-detail {
  margin: 15px 0;
}

.content-detail.listing {
  margin: 10px 0 5px;
  padding: 5px;
}

.content-detail p {
  font-size: 13px;
margin-bottom: 0px;
color: #999;
}

.content-detail p.menucart span {
  background: #F4F4F4;
  display: inline-block;
  margin: 4px 4px 4px 0px;
  padding: 4px 6px;
  font-size: 12px;
}

.content-detail .offerd {
  border: solid 1px #f4f4f4;
  padding: 12px;
  margin: 10px 0;
  line-height: 15px;
  font-size: 12px;
}

.content-detail .offerd p {
  color: #2e0854;
}

.fixed-header {
  position: fixed;
  top: 0;
  z-index: 49;
}

.fixedbtn {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #efefef;
  border: solid 1px #f4f4f4;
  padding: 8px 15px;
}

.fixedbtn a.btn-default {
  width: 49%;
  float: left;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.fixedbtn a.btn-default.mainbtn {
  background: #fc1c40;
}

.fixedbtn a.mainbtn.fullwidth {
  width: 100%;
}

.fixedbtn a.btn-default.cancel {
  background: #2e0854;
  float: right;
}

.normalbtn {
  bottom: 0px;
  width: 100%;
  border: solid 1px #f4f4f4;
  padding: 0;
  float: left;
}

.normalbtn a.btn-default {
  width: 49%;
  float: left;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.normalbtn a.btn-default.mainbtn {
  background: rgba(252, 28, 64, 0.50);
}

.normalbtn a.btn-default.mainbtn:hover {
  background: rgba(252, 28, 64, 1);
}

.fixedbtn a.mainbtn.fullwidth {
  width: 100%;
}

.normalbtn a.btn-default.cancel {
  background: rgba(46, 8, 84, 0.50);
  float: right;
}

.normalbtn a.btn-default.cancel:hover {
  background: rgba(46, 8, 84, 1);
  float: right;
}

/* sort now */

.containersort {
  margin: 0px auto;
  max-width: 375px;
  height: 667px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.headersort {
  position: relative;
  background-color: #2e0854;
  height: 72px;
  line-height: 72px;
  color: #fff;
  padding-left: 24px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.containersort .item {
  height: 56px;
  border-bottom: 1px solid #ececec;
  text-align: left;
  padding-left: 16px;
}

.containersort .item label {
  float: left;
  display: inline-block;
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 8px;
  transition: background .5s;
}

.containersort .item span {
  display: inline-block;
  height: 10px;
  margin: 24px 0 0 20px;
  width: 50%;
  /* background: #ccc; */
  transition: width .2s;
}

.none .item:nth-child(3) label {
  background: #f03232;
  transition-delay: 0;
}

.none .item:nth-child(4) label {
  background: #fa9618;
  transition-delay: .1s;
}

.none .item:nth-child(2) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.none .item:nth-child(6) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.none .item:nth-child(5) label {
  background: #028ed7;
  transition-delay: .4s;
}

.asc .item:nth-child(2) label {
  background: #f03232;
  transition-delay: 0;
}

.asc .item:nth-child(3) label {
  background: #fa9618;
  transition-delay: .1s;
}

.asc .item:nth-child(4) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.asc .item:nth-child(5) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.asc .item:nth-child(6) label {
  background: #028ed7;
  transition-delay: .4s;
}

.dec .item:nth-child(6) label {
  background: #f03232;
  transition-delay: 0;
}

.dec .item:nth-child(5) label {
  background: #fa9618;
  transition-delay: .1s;
}

.dec .item:nth-child(4) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.dec .item:nth-child(3) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.dec .item:nth-child(2) label {
  background: #028ed7;
  transition-delay: .4s;
}

/* tabs */

/* Tabs panel */

.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 50px;
}

/* Default mode */

.tabbable-line>.nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line>.nav-tabs>li {
  margin-right: 2px;
  width: auto;
}

.tabbable-line>.nav-tabs>li>a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.tabbable-line>.nav-tabs>li.open>a, .tabbable-line>.nav-tabs>li:hover>a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i, .tabbable-line>.nav-tabs>li:hover>a>i {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu, .tabbable-line>.nav-tabs>li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
  border-bottom: 4px solid #fc1c40;
  position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
  border: 0;
  color: #333333;
  color: #fc1c40;
  font-weight: 600;
}

.tabbable-line>.nav-tabs>li.active>a>i {
  color: #404040;
}

.tabbable-line>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below>.nav-tabs>li {
  border-top: 4px solid transparent;
}

.tabbable-line.tabs-below>.nav-tabs>li>a {
  margin-top: 0;
}

.tabbable-line.tabs-below>.nav-tabs>li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below>.nav-tabs>li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below>.tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.tab-content P {
  font-size: 15px;
  color: #2e0854;
  font-weight: 500;
}

.tab-content span {
  font-size: 12px;
}

.last-row .pull-left span {
  display: block;
  width: 100%;
  color: #9a9797;
}

.btn {
  border-radius: 2px;
}

.person-review {
  clear: both;
}

.person-review .hr-view .img {
  width: 20%
}

.person-review .hr-view .menu-order-list {
  width: 80px;
  float: left;
}

.person-review .hr-view .hr-details {
  width: 80%
}

.person-review .hr-view .hr-details.orders {
  width: calc(100% - 80px - 10px);
  margin-left: 10px;
  float: left;
  padding-top: 6px;
  position: relative;
}

.person-review .hr-view .hr-details h3 {
  margin-bottom: 10px;
}

.person-review .orders .ratings {
  margin-top: 5px;
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.person-review .ratings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  background: #fc1c40;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  width: auto;
  height: auto;
}

/* login page details */

.account-box {
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -o-border-radius: 2px;
  z-index: 3;
  font-size: 13px !important;
  background-color: #fff6f7;
  padding: 20px;
}

.account-box .btn-block.login {
  background: #fc1c40;
  padding: 4px 15px;
  color: #fff;
}

.logo {
  width: 138px;
  height: 30px;
  text-align: center;
  margin: 10px 0px 27px 40px;
  background-position: 0px -4px;
  position: relative;
}

.forgotLnk {
  margin-top: 10px;
  display: block;
}

.or-box {
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top: 20px;
}

.or {
  color: #666666;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 40px;
  left: 90px;
}

.account-box .btn:hover {
  color: #fff;
}

.btn-facebook {
  background-color: #3F639E;
  color: #fff;
  font-weight: bold;
}

.btn-google {
  background-color: #454545;
  color: #fff;
  font-weight: bold;
}

.loginbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-step .btn-primary {
  color: #fff;
  background-color: #fc1c40;
  border-color: #fc1c40;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/* my booking */

.l-horizontal.bookingbar-content, #bookingbar-car-subtab, #bookingbar-hotel-subtab {
  display: none;
}

.tabs-pane {
  display: none;
}

.tabs-pane.is-active {
  display: block;
}

.frm-input input[type="date"].date-input {
  padding: 10px 12px 10px 40px;
  background-position: left 50%;
}

/* Search dropdown */

#searchSelectDropDown .autocomplete-item.selected {
  background: #ffc8d7;
  color: #bb062d;
}

#searchSelectDropDown {
  padding: 0;
  position: absolute;
  z-index: 99;
  margin-top: -11px;
  background: #fff;
  display: none;
}

/*date selector*/

.date-bar, .menu-bar {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 56px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px #ebebeb;
  box-shadow: 0 4px 8px #ebebeb;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.date-bar .date-list, .menu-bar .menu-list {
  text-align: center;
  list-style-type: none;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}

.date-bar .date-list .date-item {
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 46px;
  height: 56px;
  padding: 8px;
  opacity: 0.6;
}

.menu-bar .menu-list .menu-item {
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  padding: 8px;
  opacity: 0.6;
  padding: 6px 8px
}

.date-bar .date-list .date-item .day {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
}

.date-bar .date-list .date-item .date, .menu-bar .menu-list .menu-item .menu {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 1px;
}

.date-bar .date-list .date-item.active, .menu-bar .menu-list .menu-item.active {
  background-color: #2e0854;
  color: #fff;
  opacity: 1;
}

.menu-bar .menu-list .menu-item.active {
  border-bottom: solid 2px #2e0854;
  background: none;
  color: #2e0854
}

.time-list {
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0px;
  padding: 0;
}

.time-list li {
  display: inline-block;
  overflow: hidden;
  margin-top: 6px;
  margin-right: 7px;
}

.time-list li .time {
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  line-height: 15px;
  display: -webkit-box;
  color: #2e0854;
  border: 1px solid #2e0854;
  padding: 5px 8px;
  border-radius: 2px;
  min-width: 63px;
  text-align: center;
  opacity: 0.6;
}

.time-list li.active .time {
  background-color: #2e0854;
  color: #fff;
  opacity: 1;
}

.l-dropdown {
  width: 100%;
  margin: 0 auto;
  border: solid 1px #eee;
  margin-top: 20px;
}

.custom-dropdown {
  width: 100%;
  position: relative;
}

.custom-dropdown::before, .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #333 transparent;
}

.custom-dropdown:before {
  content: "\e008";
  font-family: 'Glyphicons Halflings';
  top: 2px;
  left: 12px;
  line-height: 1;
  font-size: 18px;
  font-size: 12px;
}

.custom-dropdown select {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 11px 12px 11px 44px;
  text-align: right;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 5px;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}

.custom-dropdown select:focus {
  outline: none;
}

.custom-dropdown select option:first-child {
  text-transform: uppercase;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::after {
  color: #333;
}

.qty-box {
  border: 1px solid #fc1c40;
  border-radius: 3px;
  float: left;
  height: 25px;
  width: 80px;
}

.qty-box span {
  color: #fc1c40;
  float: left;
  line-height: 24px;
  text-align: center;
  width: 38px;
  -webkit-font-smoothing: antialiased;
}

.qty-box .qty {
  border-right: solid 1px #fc1c40;
  border-left: solid 1px #fc1c40;
}

.qty-box .dec, .qty-box .inc {
  height: 100%;
  width: 20px;
}

.qty-box .dec:hover, .qty-box .inc:hover {
  cursor: pointer;
}

/* checkout */

.checkout .filter {
  margin-bottom: 10px
}

.total {
  margin: 0px 0px 10px;
  font-size: 16px;
  float: left;
  width: 100%;
}

.container.orderconfirm {
  max-height: 320px;
  overflow: auto;
}

.dense {
  line-height: 1.2em;
  font-size: 16px;
  font-size: 1rem;
}

.hightlighted {
  color: #2e0854
}

/* page not found */

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floatingShadow {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.85);
  }
  55% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.page_404 .container {
  font-family: 'Varela Round', sans-serif;
  color: #dc0124;
  text-align: center;
  font-size: 16px;
}

.page_404 .container h1 {
  font-size: 32px;
  margin-top: 32px;
}

.boo-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  paddig-top: 64px;
  paddig-bottom: 64px;
}

.boo {
  width: 160px;
  height: 184px;
  background-color: #fc1c40;
  margin-left: auto;
  margin-right: auto;
  border: 3.3939393939px solid #fc1c40;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 80px 80px 0 0;
  box-shadow: -16px 0 0 2px rgba(255, 255, 255, 0.9) inset;
  position: relative;
  padding-bottom: 32px;
  animation: floating 3s ease-in-out infinite;
}

.boo::after {
  content: '';
  display: block;
  position: absolute;
  left: -18.8235294118px;
  bottom: -8.3116883117px;
  width: calc(100% + 32px);
  height: 32px;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  background-position: left bottom;
  background-image: linear-gradient(-45deg, #f7f7f7 16px, transparent 0), linear-gradient(45deg, #f7f7f7 16px, transparent 0), linear-gradient(-45deg, #dc0124 18.8235294118px, transparent 0), linear-gradient(45deg, #dc0124 18.8235294118px, transparent 0);
}

.boo .face {
  width: 24px;
  height: 3.2px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 56px;
  transform: translateX(-50%);
}

.boo .face::before, .boo .face::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
}

.boo .face::before {
  left: -24px;
}

.boo .face::after {
  right: -24px;
}

.shadow {
  width: 128px;
  height: 16px;
  background-color: rgba(252, 28, 64, 0.21);
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  animation: floatingShadow 3s ease-in-out infinite;
}

/* booking list */

.mybookingslist {
  background: #eee;
}

.mybookings {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mybookings-item {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.mybookings-name {
  font-weight: 400;
}

.mybookings.grid .pull-right {
  width: 100%
}

.list .mybookings-item {
  position: relative;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
}

.list .mybookings-item .pull-right {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 800px) {
  .list .mybookings-item .stage:not(.active) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .list .mybookings-item .mybookings-progress-bg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .list .mybookings-item .pull-right {
    position: static;
    line-height: 20px;
    padding-bottom: 10px;
  }
}

.list .mybookings-country, .list .mybookings-progress, .list .mybookings-completes, .list .mybookings-end-date {
  color: #A1A1A4;
}

.list .mybookings-country, .list .mybookings-completes, .list .mybookings-end-date, .list .mybookings-name, .list .mybookings-stage {
  margin: 0 10px;
}

.list .mybookings-country {
  margin-right: 0;
}

.list .mybookings-end-date, .list .mybookings-completes, .list .mybookings-country, .list .mybookings-name {
  vertical-align: middle;
}

.list .mybookings-end-date {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.mybookings-stage .stage {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  background: #f2f2f2;
  text-indent: -9999px;
  color: transparent;
  line-height: 16px;
}

.mybookings-stage .stage.active {
  background: #A1A1A4;
}

.list .list-only {
  display: auto;
}

.list .grid-only {
  display: none !important;
}

.grid .grid-only {
  display: auto;
}

.grid .list-only {
  display: none !important;
}

.grid .mybookings-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 250px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .mybookings .mybookings-item {
    display: block;
    width: auto;
    height: auto;
    margin: 10px auto;
  }
}

.grid .mybookings-name {
  display: block;
  max-width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.grid .mybookings-country {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.grid .mybookings-country, .grid .mybookings-end-date {
  color: #A1A1A4;
}

.grid .mybookings-progress {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 13px;
}

.grid .mybookings-progress-bg {
  width: 40%;
  display: block;
}

@media screen and (max-width: 200px) {
  .grid .mybookings-progress-bg {
    display: none;
  }
}

.grid .mybookings-progress-labels {
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 40px;
}

@media screen and (max-width: 200px) {
  .grid .mybookings-progress-labels {
    right: auto;
    left: 10px;
  }
}

.grid .mybookings-progress-label {
  line-height: 21px;
  font-size: 13px;
  font-weight: 400;
}

.grid .mybookings-completes {
  line-height: 21px;
  font-size: 13px;
  vertical-align: middle;
}

.grid .mybookings-stage {
  position: absolute;
  top: 20px;
  right: 20px;
}

.grid .mybookings-stage .stage {
  display: none;
}

.grid .mybookings-stage .active {
  display: block;
}

.grid .mybookings-end-date {
  font-size: 12px;
  line-height: 20px;
}

.mybookings-progress-label {
  vertical-align: middle;
  margin: 0 10px;
  color: #8DC63F;
}

.mybookings-progress-bg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: #eee;
}

.mybookings-progress-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  background: #8DC63F;
}

.slick-prev, .slick-next {
  display: none !important
}

/* profile form */

.profile_form .form-wrap {
  max-width: 768px;
  background: #e6e6e6;
}

.profile_form .form-wrap * {
  transition: .1s linear
}

.profile_form .profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
}

.profile_form form {
  background: white;
  float: left;
  width: calc(100% - 240px);
  padding: 30px;
  color: #7b7b7b;
}

.profile_form .form-wrap:after, form div:after {
  content: "";
  display: table;
  clear: both;
}

.profile_form form div {
  margin-bottom: 15px;
  position: relative;
}

.profile_form h1 {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 50px;
}

.profile_form h1:after {
  content: "\f138";
  font-size: 40px;
  font-family: FontAwesome;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.profile_form label, .profile_form span {
  display: block;
  font-size: 14px;
}

.profile_form input[type="text"], input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 0;
}

.profile_form input[type="text"]:focus, input[type="email"]:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.profile_form .radio label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  width: 50%;
  float: left;
  line-height: 40px;
}

.profile_form .radio input {
  position: absolute;
  opacity: 0;
}

.profile_form .radio-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  text-align: center;
}

.profile_form .male:before {
  content: "\f222";
  font-family: FontAwesome;
  font-weight: bold;
}

.profile_form .female:before {
  content: "\f221";
  font-family: FontAwesome;
  font-weight: bold;
}

.profile_form .radio label:hover input~.radio-control, .profile_form .radiol input:focus~.radio-control {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.profile_form .radio input:checked~.radio-control {
  color: red;
}

.profile_form select {
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.profile_form select::-ms-expand {
  display: none;
}

.profile_form .select-arrow {
  position: absolute;
  top: 38px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

.profile_form button {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #fc1c40;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .profile_form .form-wrap {
    max-width: 550px;
    width: 100%
  }
  .profile_form .profile, form {
    float: none;
    width: 100%
  }
  .profile_form h1 {
    margin-top: auto;
    padding-bottom: 50px;
  }
  .profile_form form {
    width: 100%;
  }
}

/* navigation new */

header .nav {
  display: block;
}

.flex, .flex-wrap, .flex-left, .flex-right, .flex-center, .flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

button, input {
  background: transparent;
  border: none;
  outline: none;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.ripple .rippling {
  width: 5px;
  height: 5px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  opacity: .4;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
}

.btn, .btn-round {
  cursor: pointer;
}

.btn-round {
  border-radius: 100%;
}

header {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  height: 50px;
  background-color: #FFF;
  border-bottom: solid 1px #f6f6f6;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  transition: box-shadow .3s;
}

header .search-btn {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: url(http://cbwconline.com/IMG/Codepen/Search-White.svg) center no-repeat;
}

@media (min-width: 701px) {
  header .m-o {
    display: none;
  }
}

@media (max-width: 700px) {
  header .d-o {
    display: none !important;
  }
  header .flex-right, header .flex-left {
    min-width: 30px !important;
  }
}

header.shadow {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

header .flex, header .flex-wrap, header .flex-left, header .flex-right, header .flex-center, header .flex-between {
  align-items: center;
}

header .flex-left, header .flex-right {
  min-width: 170px;
}

header h2 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
}

header .flex-left .menu {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: url(../img/user.svg) center no-repeat;
  background-size: 80% auto;
}

header .flex-left .logo {
  width: 30px;
}

header .flex-left .logo:first-of-type {
  width: 40px;
  margin-right: 6px;
}

header .center {
  width: 100%;
  max-width: 620px;
  height: 42px;
  margin: 0 100px;
  position: relative;
}

header .center .search {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 20px;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  transition: .3s;
}

header .center input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px 0;
  border-radius: 2px;
  color: inherit;
  text-align: center;
}

header .center input:focus {
  padding: 12px 0 12px 45px;
  text-align: left;
}

header .center input:focus~.search {
  opacity: 1;
}

header .center input:focus::-webkit-input-placeholder {
  text-align: left;
}

header .flex-right [class^='btn'] {
  margin-right: 13px;
  width: 30px;
  height: 30px;
}

header .flex-right .notifications {
  background: url('../img/notification.svg') center/20px no-repeat;
}

header .flex-right .apps {
  background: url(http://cbwconline.com/IMG/Codepen/Apps-White.svg) center/20px no-repeat;
}

header .flex-right .profile {
  width: 32px;
  height: 32px;
  margin: 0 30px 0 20px;
}

.location {
  text-align: center;
  margin: 0 auto;
}

.mobile-search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #EEE;
  transition: transform .3s;
  transform: translateY(100%);
  z-index: 200;
}

.ios-web-app .mobile-search {
  border-top: 20px solid #d0d0d0;
}

.mobile-search.searching {
  transform: translateY(0);
}

.mobile-search .header {
  background: #fff;
  height: 50px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.mobile-search .header .back {
  width: 58px;
  height: 58px;
  margin-left: 10px;
  background: url(http://cbwconline.com/IMG/Codepen/Arrow-Back-Black.svg) center no-repeat;
}

.mobile-search .header input {
  color: #444;
  font-size: 16px;
  margin-left: 20px;
  width: calc(100vw - 100px);
}

.mobile-search .header input::-webkit-input-placeholder {
  color: #444;
  font-size: 12px;
  text-align: left;
}

.mobile-search .header input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
}

.mobile-search .header input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
}

@media (max-width: 900px) {
  header h2 span {
    display: none;
  }
  header .center {
    margin: auto;
  }
}

.account {
  background: #EEE;
  position: fixed;
  top: 62px;
  right: 15px;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transform-origin: top right;
  transition: .15s;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.account:after {
  content: '';
  width: 15px;
  height: 15px;
  background: inherit;
  position: absolute;
  top: -6px;
  right: 8px;
  opacity: 0;
  visibility: hidden;
  transform: rotate(45deg) scale(0.5);
  transition: .15s;
}

.account.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.account.active:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg) scale(1);
}

.account li {
  padding: 12px 16px;
  list-style: none;
  cursor: pointer;
  transition: .3s;
}

.account li:hover {
  background: #e1e1e1;
}

nav {
  background: #fff;
  color: #444;
  margin: 0;
  width: 232px;
  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100vh - 144px);
  max-height: calc(100vh - 144px);
  overflow-Y: hidden;
  transform: translateX(-232px);
  transition: transform .3s;
  will-change: transform;
  z-index: 40;
  box-sizing: content-box;
}

@media (max-width: 700px) {
  nav {
    top: 0;
    height: 100vh;
    max-height: 100vh;
    z-index: 102;
  }
  .ios-web-app nav {
    top: 20px;
    height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
  }
}

nav.opened {
  transform: translateX(0);
}

@media (max-width: 700px) {
  nav.opened {
    overflow-y: auto;
  }
}

nav:hover {
  overflow-y: auto;
}

@media (min-width: 701px) {
  .ios-web-app nav {
    top: 84px;
    height: calc(100vh - 164px);
    max-height: calc(100vh - 164px);
  }
  nav::-webkit-scrollbar {
    width: 8px;
  }
  nav::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
}

nav .info {
  color: #fff;
  padding: 12px;
  background: url(https://lh3.googleusercontent.com/proxy/kDU6IGDfkp__IzpeD45V214rQMKci3hmuw9P6rBRUlhhb_Luhwj6AlrieVpGHNl083wykRn-w0EdAojbAKywfL_pntEOy7jkh8sk65AKNnjP6f85zDOEFfFlVKCSFW9hSu_Cs6dA2JA=w426-h238-p) center/cover;
}

@media (min-width: 701px) {
  nav .info {
    display: none;
  }
}

nav img {
  display: block;
  width: 100%;
}

nav .profile {
  width: 48px;
  height: 48px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343394/profile/profile-80_3.jpg) center/cover;
  margin-bottom: 18px;
}

nav p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

nav p:last-child {
  padding-top: 5px;
  font-weight: 300;
}

nav ul {
  padding: 8px 0;
  margin: 8px 12px;
}

nav ul:not(:last-child) {
  border-bottom: 1px solid #DDD;
}

nav li {
  align-items: center;
  list-style: none;
  height: 40px;
  padding: 0 12px 0 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
}

nav li:hover {
  background: rgba(0, 0, 0, 0.03);
}

nav li.active {
  color: #faa700;
  background: rgba(0, 0, 0, 0.05);
}

.menu-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 150vh;
  width: 150vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 800px) {
  .menu-overlay {
    z-index: 39;
  }
  .opened+.menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 700px) {
  .menu-overlay {
    z-index: 101;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border: 8px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* location */

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  margin: 0;
  border-radius: 0;
  top: 50px;
  border: none;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}
.clearfix,.clearfix:before,.clearfix:after{
  clear: both;
}
.btn-fab i {
  display: block;
  padding-top: 9px;
}
.btn-fab {
  z-index: 9999;
  position: fixed;
  bottom: 15px;
  right: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f41186+1,f75600+100 */
  background: #f41186;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f41186 1%, #f75600 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f41186 1%, #f75600 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f41186 1%, #f75600 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f41186', endColorstr='#f75600', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-weight: 600;
  color: #fff;
  border-radius: 100px;
  height: 65px;
  width: 65px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.notifications + .badge {
  position: absolute;
  top: 4px;
  background: #fc1c40;
  right: 6px;
  padding: 3px 5px;
  font-weight: 400;
}
.list-search i {
  margin-right: 13px;
  font-size: 20px;
}
.back_link {
  color: #fc1c40;
  margin-left: 10px;
}
.listing_item {
  background: #fff;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  margin-bottom: 4px;
}
.btn-fab:focus,.btn-fab:hover,.btn-fab:active,.btn-fab:visited{
text-decoration: none;
color: #FFF;
}
.recent-location-list h4,.popular-location-list h4 {
  font-size: 14px;
  margin: 20px 0 5px;
  color: #546E7A;
  font-weight: 600;
}
.location-list li {
  margin-bottom: 10px;
  font-size: 11px;
}
.location-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notif {
  position: relative;
    padding: 14px 25px 15px 80px;
    min-height: 50px;
    line-height: 13px;
    background: #FAFAFA;
    border-radius: 2px;
    margin-bottom: 2px;
}
/* 
.notif:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 30px;
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-radius: 25px;
} */

.notif p {
  font-size: 11px;
  color: #666;
}

.notif-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* 
.notif-title:before, .notif-title:after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 2px;
}

.notif-notice:before {
  background: #a7d155;
  border-color: #8fb14f;
}

.notif-notice .notif-title:before, .notif-notice .notif-title:after {
  top: 44px;
  left: 55px;
  width: 4px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-notice .notif-title:after {
  top: 50px;
  left: 48px;
  width: 8px;
  height: 4px;
}

.notif-alert:before {
  background: #e34f4f;
  border-color: #c14343;
}

.notif-alert .notif-title:before, .notif-alert .notif-title:after {
  top: 43px;
  left: 53px;
  width: 4px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-alert .notif-title:after {
  top: 48px;
  left: 48px;
  width: 14px;
  height: 4px;
}

.notif-warn:before {
  background: #f1e472;
  border-color: #cec260;
}

.notif-warn .notif-title:before, .notif-warn .notif-title:after {
  top: 42px;
  left: 53px;
  width: 4px;
  height: 11px;
  background: #5c562b;
}

.notif-warn .notif-title:after {
  top: 54px;
  height: 4px;
} */

.notif-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  padding: 4px 3px 5px;
  background: #f0f0f0;
  border: solid #dcdcdc;
  border-width: 0 0 1px 1px;
  border-radius: 0 2px;
}


/* IE 8 doesn't support CSS transforms; use Unicode instead. */

.lt-ie9 .notif-notice .notif-title:before {
  content: '\2714';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 18px/50px "Arial Unicode MS";
  color: white;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-notice .notif-title:after {
  display: none;
}

.lt-ie9 .notif-alert .notif-title:before {
  content: '\2716';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 17px/50px "Arial Unicode MS";
  color: white;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-alert .notif-title:after {
  display: none;
}

.lt-ie9 .notif-close:before {
  content: '\2716';
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  font: 11px/19px 'Arial Unicode MS';
  color: #bbb;
  text-align: center;
  background: none;
}

.lt-ie9 .notif-close:after {
  display: none;
}

.lt-ie9 .notif-close:hover:before {
  color: #999;
}

.notification-tabs .nav-pills>li {
  width: 49%;
  text-align: center;
}
.notification-tabs .nav-pills>li>a {
  border-radius: 0;
  border-bottom: solid 1px #90A4AE;
  color: #607D8B;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fc1c40 !important;
  background-color: transparent;
  font-weight: 600;
  border-color: #fc1c40 !important;
}
.notif img {
  width: 35px;
  position: absolute;
  left: 25px;
  top: 20px;
}
.see ul li a {
  color: #252525;
}
.loading-wrapper {
  position: fixed;
  z-index: 99999;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 100%;
  background: #FFF;
  padding-top: 45%;
  text-align: center;
}

.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
}

.lab-modal-body h1 {
  font-size: 24px;
    font-weight: 600;
    margin: 3px 0;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  position: relative;
  bottom: -250px;
  margin: 150px auto 0;
  padding: 15px;
  max-width: 100%;
  height: 100%;
  background-color:#FFF;
  border: 1px solid #BEBEBE;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.close {
  margin-top: -10px;
  margin-right: -5px;
  text-shadow: 0 1px 0 #ffffff;
  color: #fc1c40;
  opacity: 1;
}

.popup-button {
  margin-top: 70px;
}
.filter-group-item h3 {
  font-size: 20px;
  margin: 0 0 5px;
  font-weight: 600;
}
.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.filter-list li {
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
}
.f-option-action {
  width: 10%;
  text-align: right;
}
.f-option-title {
  width: 90%;
}
.filter-buttons {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: solid 1px #e6e6e6;
  padding-top: 10px;
  background: #FFFF;
  padding-bottom: 10px;
}
.filter-group-item {
  border-bottom: solid 1px #e9e9e9;
  margin-bottom: 15px;
}
#sort-modal .lab-modal-body{
  margin-top: 85%;
}
ul.sorting-list li.active {
  color: #148218;
  font-weight: 600;
}
.sorting-list li {
  font-size: 16px;
  padding: 5px 0;
}
.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.action_item a {
  color: #252525;
  text-decoration: none;
}



.material-input {
  position: relative;
  margin-bottom: 30px;
}
 .material-input input {
  background-color: transparent;
}
 .material-input label {
  color: #78909C;
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  width: 100%;
}
 .material-input input:not([type]),
 .material-input input[type=text],
 .material-input input[type=password],
 .material-input input[type=email],
 .material-input input[type=url],
 .material-input input[type=time],
 .material-input input[type=date],
 .material-input input[type=datetime-local],
 .material-input input[type=tel],
 .material-input input[type=number],
 .material-input input[type=search] {
  color: #333;
  font-size: 16px;
  padding: 10px 10px 2px 0;
  position: relative;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #d5d5d5;
}
 .material-input input:not([type]):focus,
 .material-input input[type=text]:focus,
 .material-input input[type=password]:focus,
 .material-input input[type=email]:focus,
 .material-input input[type=url]:focus,
 .material-input input[type=time]:focus,
 .material-input input[type=date]:focus,
 .material-input input[type=datetime-local]:focus,
 .material-input input[type=tel]:focus,
 .material-input input[type=number]:focus,
 .material-input input[type=search]:focus {
  outline: none;
}
 .material-input input:not([type]):focus + label,
 .material-input input[type=text]:focus + label,
 .material-input input[type=password]:focus + label,
 .material-input input[type=email]:focus + label,
 .material-input input[type=url]:focus + label,
 .material-input input[type=time]:focus + label,
 .material-input input[type=date]:focus + label,
 .material-input input[type=datetime-local]:focus + label,
 .material-input input[type=tel]:focus + label,
 .material-input input[type=number]:focus + label,
 .material-input input[type=search]:focus + label,
 .material-input input:not([type]):valid + label,
 .material-input input[type=text]:valid + label,
 .material-input input[type=password]:valid + label,
 .material-input input[type=email]:valid + label,
 .material-input input[type=url]:valid + label,
 .material-input input[type=time]:valid + label,
 .material-input input[type=date]:valid + label,
 .material-input input[type=datetime-local]:valid + label,
 .material-input input[type=tel]:valid + label,
 .material-input input[type=number]:valid + label,
 .material-input input[type=search]:valid + label {
  top: -10px;
  font-size: 12px;
  color: #fc1c40;
}
 .material-input input:not([type]):focus ~ .bar:before,
 .material-input input[type=text]:focus ~ .bar:before,
 .material-input input[type=password]:focus ~ .bar:before,
 .material-input input[type=email]:focus ~ .bar:before,
 .material-input input[type=url]:focus ~ .bar:before,
 .material-input input[type=time]:focus ~ .bar:before,
 .material-input input[type=date]:focus ~ .bar:before,
 .material-input input[type=datetime-local]:focus ~ .bar:before,
 .material-input input[type=tel]:focus ~ .bar:before,
 .material-input input[type=number]:focus ~ .bar:before,
 .material-input input[type=search]:focus ~ .bar:before,
 .material-input input:not([type]):focus ~ .bar:after,
 .material-input input[type=text]:focus ~ .bar:after,
 .material-input input[type=password]:focus ~ .bar:after,
 .material-input input[type=email]:focus ~ .bar:after,
 .material-input input[type=url]:focus ~ .bar:after,
 .material-input input[type=time]:focus ~ .bar:after,
.material-input input[type=date]:focus ~ .bar:after,
.material-input input[type=datetime-local]:focus ~ .bar:after,
.material-input input[type=tel]:focus ~ .bar:after,
.material-input input[type=number]:focus ~ .bar:after,
.material-input input[type=search]:focus ~ .bar:after,
.material-input input:not([type]):valid ~ .bar:before,
.material-input input[type=text]:valid ~ .bar:before,
.material-input input[type=password]:valid ~ .bar:before,
.material-input input[type=email]:valid ~ .bar:before,
.material-input input[type=url]:valid ~ .bar:before,
.material-input input[type=time]:valid ~ .bar:before,
.material-input input[type=date]:valid ~ .bar:before,
.material-input input[type=datetime-local]:valid ~ .bar:before,
.material-input input[type=tel]:valid ~ .bar:before,
.material-input input[type=number]:valid ~ .bar:before,
.material-input input[type=search]:valid ~ .bar:before,
.material-input input:not([type]):valid ~ .bar:after,
.material-input input[type=text]:valid ~ .bar:after,
.material-input input[type=password]:valid ~ .bar:after,
.material-input input[type=email]:valid ~ .bar:after,
.material-input input[type=url]:valid ~ .bar:after,
.material-input input[type=time]:valid ~ .bar:after,
.material-input input[type=date]:valid ~ .bar:after,
.material-input input[type=datetime-local]:valid ~ .bar:after,
.material-input input[type=tel]:valid ~ .bar:after,
.material-input input[type=number]:valid ~ .bar:after,
.material-input input[type=search]:valid ~ .bar:after {
  width: 51%;
  background: #fc1c40;
  border-bottom: 0px;
}
.material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.material-input .bar:before,
.material-input .bar:after {
  content: '';
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0.5px;
  background: #fc1c40;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input .bar:before {
  left: 51%;
}
.material-input .bar:after {
  right: 49%;
}
.material-input .bar + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
}
.material-input select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-color: transparent;
  background: url('./svg/common/arrow-down-new.svg') right transparent;
  color: #333;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  position: relative;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0;
}
.material-input select:focus {
  outline: none;
}
.material-input select + .icon-arrow-down {
  position: absolute;
  float: right;
}
.material-input select option:checked + label {
  display: none;
}
.material-input input[type="radio"] + label {
  pointer-events: all;
}
.material-input input[type="radio"]:not(:checked),
.material-input input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.material-input input[type="radio"]:not(:checked) + label,
.material-input input[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
  width: 100%;
  display: inline;
}
.material-input input[type="radio"]:not(:checked) + label:before,
.material-input input[type="radio"]:checked + label:before,
.material-input input[type="radio"]:not(:checked) + label:after,
.material-input input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-input input[type="radio"]:not(:checked) + label:before,
.material-input input[type="radio"]:checked + label:before {
  border: 1.5px solid #b9b9ba;
}
.material-input input[type="radio"]:checked + label:before {
  border: 1px solid #49ba8e;
}
.material-input input[type="radio"]:not(:checked) + label:before,
.material-input input[type="radio"]:checked + label:before {
  border-radius: 50%;
}
.material-input input[type="radio"]:not(:checked) + label:after,
.material-input input[type="radio"]:checked + label:after {
  font-size: 9px;
  color: #fff;
  background: #49ba8e;
}
.material-input input[type="radio"]:not(:checked) + label:after {
  transform: scale(0, 0);
}
.material-input input[type="radio"]:checked + label:after {
  transform: scale(1, 1);
}
.material-input input[type="radio"]:checked + label:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 7px;
}

nav.opened ul li a {
  color: #252525;
}



.detail-menu{
    position: fixed;
    z-index: 2;
    bottom: 65px;
    right: 20px;
    border-radius: 8px;
}


/* Cart Actions Buttons */

.cart_actions {
    float: left;
    position: relative;
    top: 4px;
    width: 20%;
    text-align: right;
}

.item_total {
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
}

.value-button {
    display: inline-block;
    border: none;
    margin: 0px;
    width: 20px;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 15px;
    background: #FC1C40;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-left-button {
    border-radius: 5px 0 0 5px;
}

.value-right-button {
    border-radius: 0 5px 5px 0;
}

.value-button:hover {
    cursor: pointer;
}

#input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    font-weight: 600;
    border-top: 1px solid #FC1C40;
    border-bottom: 1px solid #FC1C40;
    margin: 0 -5px;
    width: 25px;
    height: 23px;
    color: #FC1C40;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*END*/

.cart_block h3 {
    margin: 0 10px 5px;
}

.cart_block .price {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    margin-left: 15px;
}


.cart_detail .content {
    width: 79%;
    float: left;
    margin-right: 1%;
}


.block {
    padding: 10px;
}

.block .label {
    display: block;
    color: rgb(146, 146, 146);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.block .content {
    font-size: 14px;
    font-weight: 600;
}

.block .btn_link_green {
    margin-top: 4px;
    float: right;
}

.btn_link_green {
    color: #FC1C40;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.sub-data {
    float: left;
    font-size: 10px;
    margin-left: 16px;
}

li a.active{
    background: green
}

@keyframes highlight {
    0% {
      background: yellow
    }
    100% {
      background: transparent;
    }
  }
  
  .highlight {
    animation: highlight 2.5s;
  }

 