.icon{width:30px;height:30px;margin-top:5px}
.icon-path{fill:none;stroke:#fff;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round}

.page-header{
position:fixed;top:0;left:0;width:100%;height:80px;
/*background-color:#2D353F;*/text-align:center;
bottom:-100px;
z-index: 5001;

}
.page-nav
{
display:inline-block;
overflow:hidden;
/*background-color:#427BAB;*/
position: fixed;
bottom: 20px;
z-index: 50001;
height: 40px;
left: 25%;
right: 25%;
border-radius: 10px;
}
.page-nav.nav-open:before,
.page-nav.nav-open:after{opacity:0;-webkit-transition:0s 0s;transition:0s 0s}

/*.page-nav.nav-open nav a:hover{background-color:rgba(255,255,255,0.05)}*/
/*.page-nav.nav-open nav a:focus{background-color:rgba(0,0,0,0.05)}*/
.page-nav.nav-open .nav-arrow{opacity:0;pointer-events:none}
.page-nav:before,
.page-nav:after{position:absolute;content:"";left:0;width:100%;height:30%;opacity:1;z-index:1;pointer-events:none;
-webkit-transition:0s 0.5s;transition:0s 0.5s}
.page-nav:before{
/*top:0;*/
/*background-image:-webkit-linear-gradient(#427BAB, rgba(66,123,171,0));*/
/*background-image:linear-gradient(#427BAB, rgba(66,123,171,0))*/
}
/*.page-nav:after{bottom:0;background-image:-webkit-linear-gradient(rgba(66,123,171,0), #427BAB);
background-image:linear-gradient(rgba(66,123,171,0), #427BAB)
}*/
nav
{
position:relative;
/*width:100%;*/
width:none;
line-height:40px;
text-align:center;
background-color:rgba(0,0,0,0.05)
}
nav a
{
display:block;
font-size:18px;
color:#fff!important;
outline:none;
background-color: #3b883e;
}
.nav-arrow{position:absolute;top:0;width:50px;height:40px;z-index:2;-webkit-transition:0.3s opacity;
transition:0.3s opacity;outline:none}
.nav-arrow.nav-arrow-left{left:0}
.nav-arrow.nav-arrow-right{right:0}
.nav-arrow.nav-arrow-disabled{opacity:0.2}
.nav-arrow:not(.nav-arrow-disabled){cursor:pointer}
.nav-arrow:not(.nav-arrow-disabled):hover{background-color:rgba(255,255,255,0.05)}
.nav-arrow:not(.nav-arrow-disabled):focus{background-color:rgba(0,0,0,0.05)}


.menu-order-list {
  width: 80px;
  float: left;
  margin-top: 5px;
}
.qty-box {
  border: 1px solid #3b883e!important;
  border-radius: 3px;
  height: 25px;
  width: 80px;
}

.qty-box span {
  color: #3b883e!important;
  float: left;
  line-height: 24px;
  text-align: center;
  width: 38px;
  -webkit-font-smoothing: antialiased;
}

.qty-box .qty {
  border-right: solid 1px #3b883e;
  border-left: solid 1px #3b883e;
}

.qty-box .dec, .qty-box .inc {
  height: 100%;
  width: 20px;
}

.qty-box .dec:hover, .qty-box .inc:hover {
  cursor: pointer;
}
.none .item:nth-child(3) label {
  background: #f03232;
  transition-delay: 0;
}

.none .item:nth-child(4) label {
  background: #fa9618;
  transition-delay: .1s;
}

.none .item:nth-child(2) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.none .item:nth-child(6) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.none .item:nth-child(5) label {
  background: #028ed7;
  transition-delay: .4s;
}

.asc .item:nth-child(2) label {
  background: #f03232;
  transition-delay: 0;
}

.asc .item:nth-child(3) label {
  background: #fa9618;
  transition-delay: .1s;
}

.asc .item:nth-child(4) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.asc .item:nth-child(5) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.asc .item:nth-child(6) label {
  background: #028ed7;
  transition-delay: .4s;
}

.dec .item:nth-child(6) label {
  background: #f03232;
  transition-delay: 0;
}

.dec .item:nth-child(5) label {
  background: #fa9618;
  transition-delay: .1s;
}

.dec .item:nth-child(4) label {
  background: #3caf4c;
  transition-delay: .2s;
}

.dec .item:nth-child(3) label {
  background: #00b1a3;
  transition-delay: .3s;
}

.dec .item:nth-child(2) label {
  background: #028ed7;
  transition-delay: .4s;
}

.qty-box .dec, .qty-box .inc {
  height: 100%;
  width: 20px;
}

.qty-box .dec:hover, .qty-box .inc:hover {
  cursor: pointer;
}
.hr-view
{
left: 58%;
position: absolute;	
}

.Food-Category
{
	font-size: 16px;
	font-weight: bold;
}
a[data-scroll]{
	color:grey;
}
.list-block.media-list .item-link .item-title-row{
padding-right:0px;
}
 .list-block.media-list .item-link .item-inner{
 padding-right:16px;
 }
 .list-block .item-link .item-inner{
 padding-right:0px;
 }
 .Category-MenuName-Left{
	margin-left:10px;
	width: auto!important;
 }
 .Category-MenuName-Right{
	margin-right:10px;
	width: auto!important;
 }
